.formation__container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background: var(--background-white);
    padding-top: 20px;
    padding-inline: 10px;
}

.formation__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.cards__containder {
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
}

.card__details {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid black;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card__institution {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.card__title {
    text-align: center;
    font-size: 0.9rem;
}

.card__image {
    width: 100px;
    padding-bottom: 5px;
}

.card__status {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}