.formation__container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background: var(--background-white);
    padding-top: 60px;
    padding-inline: 10px;
}

.formation__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.formation__card-containder {
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
}

.formation__card-details {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 50px 50px 50px 0;
    height: 295px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: var(--font-color-wheat);
    width: 290px;
}

.formation__card-institution {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
}

.formation__card-title {
    text-align: center;
    font-size: 0.9rem;
}

.formation__card-image {
    width: 80px;
    padding: 5px;
}

.formation__card-status {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.finished{
    color: green;
}

.pause {
    color: yellow;
}

.abandoned {
    color: red;
}

.peers {
    background: var(--background-blue);
}

.odd {
    background: var(--background-darkblue) ;
}

.formation__card-button {
    background: none;
    border: 1px solid var(--font-color-wheat);
    color: var(--font-color-wheat);
    padding: 2px 70px;
    margin-top: 5px;
}

.formation__card-button:hover {
    background: var(--font-color-ligthblue);
    color: #00004B;
}