.about__container {
    display: flex;
    min-height: 400px;
    background: var(--background-ligthblue);
    padding-top: 60px;
    padding-inline: 10px;
}

.about__image-container {
    display: none;
}

.about__title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .about__container {
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .about__container-data {
        width: 85vw;
    }

}


@media screen and (min-width: 1024px) {

    .about__container {
        height: 100vh;
    }
    
    .about__container-data {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 75vw;
    }

    .about__image-container {
        display: flex;
        padding: 25px;
    }

    .about__image {
        width: 250px;
        height: 250px;
        border-radius: 15px;
    }

}