.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: var(--background-ligthblue);
}

.footer__title {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
}