.experience__container {
    display: flex;
    flex-direction: column;
    background: var(--background-white);
    padding-top: 60px;
    padding-inline: 10px
}

.experience__card-container {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.experience__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.experince__dashboard {
    display: flex;
    flex-direction: column;
}

.experience__card-company {
    background: rgba(2,0,36,1);
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.experience__card-position {
    font-size: 1rem;
    font-weight: bold;
}

.experience__card-dates {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.experience__card-key {
    font-size: 1rem;
    margin-bottom: 0;
}

.experience__card-details-title {
    font-size: 1rem;
    text-decoration: underline;
}

.experience__card-details-list {
    padding-left: 0.5rem;
}

.experience__card-item {
    display: flex;
}

.chevron {
    color: var(--font-color-blue);
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .experience__container {
        align-items: center;
    }
    
    .experience__container-data {
        width: 85vw;
    }

    .experince__dashboard {
        flex-direction: row;
    }
    
    .experience__card-container {
        width: 45vw;
    }

}

@media screen and (min-width: 1024px) {

    .experience__container-data {
        width: 75vw;
    }

}