.successCard__container {
    padding: 15px;
    min-height: 100vh;
    background: var(--background-blackAndGrey);
    
}

.successCard__company {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.successCard__button {
    margin: 15px;
    align-items: center;
    background: black;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    display: flex;
    font-weight: bolder;
    height: 1.7rem;
    justify-content: center;
    transition: 0.5s;
    width: 150px;
}

.successCard__button:hover {
    background: white;
    color: black;
}

.accordion {
    padding: 5px;
}

@media screen and (min-width: 768px) {

    .successCard__container {
        padding: 40px;
    }

    .successCard__container-data {
        max-width: 65vw;
    }

}