.successCard__container {
    padding: 15px;
    min-height: 100vh;
    background: var(--background-blackAndGrey);
    
}

.successCard__company {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.successCard__button {
    margin: 15px;
}

.accordion {
    padding: 5px;
}

@media screen and (min-width: 768px) {

    .successCard__container {
        padding: 40px;
    }

    .successCard__container-data {
        max-width: 65vw;
    }

}